altgraph==0.17
Babel==2.8.0
certifi==2019.11.28
chardet==3.0.4
configparser==4.0.2
cycler==0.10.0
docutils==0.16
future==0.18.2
idna==2.9
joblib==0.14.1
Kivy==1.11.1
kivy-deps.angle==0.1.10
kivy-deps.glew==0.1.12
kivy-deps.sdl2==0.1.23
Kivy-Garden==0.1.4
kiwisolver==1.1.0
matplotlib==3.2.0
numpy==1.18.1
pandas==1.0.1
pathlib==1.0.1
pefile==2019.4.18
psutil==5.7.0
Pygments==2.5.2
pyparsing==2.4.6
pypiwin32==223
python-dateutil==2.8.1
pytz==2019.3
pywin32==301
pywin32-ctypes==0.2.0
requests==2.23.0
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
tkfilebrowser==2.3.2
urllib3==1.25.8
